Step 1: Create a DataFrame from the list of dictionaries below:

[{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100}, 
{'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000},
{'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
{'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200},
{'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]


Step 2:  Calculate the Total Profit for each product using the formula 

```

net_revenue_per_product = (retail_price - wholesale price) * sales
```

Step 3: Determine the following

- How much total net revenue you received from all of these sales?

- What product is product retail price more than twice the wholesale price?

- How much did the store make from food vs. computers vs. books?

- Because your store is doing so well, you’re able to negotiate a 30% discount on the wholesale price of goods. Calculate the new net revenue

In [1]:
import pandas as pd

In [2]:
products=[{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100}, 
{'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000},
{'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
{'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200},
{'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]

## Step 1
Create a dataframe

In [3]:
dataframe= pd.DataFrame(products)

In [4]:
dataframe.set_index('product_id',inplace=True)

In [5]:
dataframe

                      name  wholesale_price  retail_price  sales
product_id
23                computer            500.0          1000    100
96          Python Workout             35.0            75   1000
97          Pandas Workout             35.0            75    500
15                  banana              0.5             1    200
87                sandwich              3.0             5    300

### Step 2:  Calculate the Total Profit for each product using the formula
net_revenue_per_product = (retail_price - wholesale price) * sales

In [6]:
#finding net revenue per product
df=dataframe
df['net_revenue_per_product']=(df['retail_price']-df['wholesale_price'])*df['sales']

In [7]:
df

,name,wholesale_price,retail_price,sales,net_revenue_per_product
product_id,,,,,
23,computer,500.0,1000,100,50000.0
96,Python Workout,35.0,75,1000,40000.0
97,Pandas Workout,35.0,75,500,20000.0
15,banana,0.5,1,200,100.0
87,sandwich,3.0,5,300,600.0

# Step 3: Determine the following
How much total net revenue you received from all of these sales?

In [8]:
#Total net revenue
total_net_revenue= sum(df['net_revenue_per_product'])
print(total_net_revenue)

110700.0

What product is product retail price more than twice the wholesale price?

In [14]:
condition=(df['wholesale_price']*2)<df['retail_price']
print(condition)

product_id
23    False
96     True
97     True
15    False
87    False
dtype: bool

In [10]:
df[condition]

,name,wholesale_price,retail_price,sales,net_revenue_per_product
product_id,,,,,
96,Python Workout,35.0,75,1000,40000.0
97,Pandas Workout,35.0,75,500,20000.0

How much did the store make from food vs. computers vs. books?

In [11]:
df['Category']=['computers','books','books','food','food']
category=df.groupby(by=['Category']).sum()
category['net_revenue_per_product']

C:\Users\All of us\AppData\Local\Temp\ipykernel_34440\316694263.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  category=df.groupby(by=['Category']).sum()

Category
books        60000.0
computers    50000.0
food           700.0
Name: net_revenue_per_product, dtype: float64

Because your store is doing so well, you’re able to negotiate a 30% discount on the wholesale price of goods. Calculate the new net revenue

In [12]:
#new wholesale price less 30%
df['wholesale_less30%']= df['wholesale_price']*0.7

In [13]:
df

,name,wholesale_price,retail_price,sales,net_revenue_per_product,Category,wholesale_less30%
product_id,,,,,,,
23,computer,500.0,1000,100,50000.0,computers,350.00
96,Python Workout,35.0,75,1000,40000.0,books,24.50
97,Pandas Workout,35.0,75,500,20000.0,books,24.50
15,banana,0.5,1,200,100.0,food,0.35
87,sandwich,3.0,5,300,600.0,food,2.10

In [13]:
df['new_net_revenue_per_product']=(df['retail_price']-df['wholesale_less30%'])*df['sales']
df

,name,wholesale_price,retail_price,sales,net_revenue_per_product,Category,wholesale_less30%,new_net_revenue_per_product
product_id,,,,,,,,
23,computer,500.0,1000,100,50000.0,computers,350.00,65000.0
96,Python Workout,35.0,75,1000,40000.0,books,24.50,50500.0
97,Pandas Workout,35.0,75,500,20000.0,books,24.50,25250.0
15,banana,0.5,1,200,100.0,food,0.35,130.0
87,sandwich,3.0,5,300,600.0,food,2.10,870.0